.ColorBarraSuperior{
    background-color: #a0a0a0;
  }

.img-size {
    margin-left: 20px;
    width: 300px;
    height: 60px;
  }

  
  
  .barra-size {
    width: 1368px;
    height: 100px;
    margin-left: auto;
    
  }

  .text-center{

    text-align: center;
    margin: 0 auto;
    margin-left: 200px;
  }

  .btn {
    color: white !important;
  background-color: #a0a0a0 !important;
  border-color: black !important;
  border-width: 3px !important;
  margin-left: 100px;
  }

  .btn-mi-boton{
    background-color: white;
    border: 1px solid red;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    color: red;
    border-radius: 5px;
    display: flex;
    width: 70px;
    height: 40px;
    text-decoration: none;
    justify-content: center;
  }
  